
/*GENERAL*/
*{
	font-family: 'Montserrat', 'sans-serif';
}
h1{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 4rem;
	color: rgb(9, 122, 192);
	text-shadow: 2px 2px 3px black;

}
.card{
	margin: 10px ;
}
/*NAVBAR*/
#menu{
	padding: 20px 0px;
}

/*PAGING*/
.paging{
	text-align: center;
}
.paging p a{
	padding: 8px 16px;
	text-decoration: none;

}
.paging p a{
	background-color: #007bff;
  	color: white;
}

/*HOMEPAGE*/
#presentation{
	background-image: url("../pictures/fond.jpg");
	background-position-y: 50%;
	background-size: cover;
	text-align: center;
	overflow: hidden;
}
#avatar{
	width: 100%;
	min-width: 300px;
	min-height: 300px;
	max-height: 500px;
	animation: 3s fadeInLeft;
}

h2{
	font-size: 2rem;
	color: rgb(9, 122, 192);
	text-shadow: 1px 1px 3px black;

}

#cv{
	
}


@keyframes fadeInLeft {
  from {
    margin-right:30%;
    width: 330%;
  }
  to {
    margin-right:0%;
    width: 100%;
  }
}

/*FOOTER*/

footer{
	margin-top: 20px;
}